*{
  font-family: "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue-Light",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
a{
  font-weight: bold;
  color : #302f2f;
}
a:hover {
 text-decoration: none;
 color : black;
}
